*{
  margin: 0px;
  box-sizing: border-box;
  padding:0px
}

.box-header{
  box-shadow: 0 2px rgb(161, 159, 159);
}

nav{
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  margin-top:20px;
  margin-bottom: 10px;
  align-items: center;
  color:#202020;
}

.Logo{
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 10px;
  text-decoration: none;
}

.Logo a{
  text-decoration: none;
  color: #202020;
}

.nav-items{
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}

.nav-items>li>a {
  padding-left: 20px;
  color:#202020;
  text-decoration: none;
}

.btn-logout{
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color:#202020;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 1s background;
  margin-bottom: 10px;
}

.btn-logout:hover{
  background-color: #3d3d3d;
  transition: 1s background;
}

/*SELLER REGION*/

.tableDiv{
  padding:10px;
}

.nameSellers{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sales{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.import{
  padding-left:20px;
}
.titleUpload{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.upload{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.home {

  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}
.textHome {

  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}
